<a href="https://colab.research.google.com/github/Gustahx/Program---Python/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "Gustavo"
print(nome)

In [ ]:
nota1 = 8
nota2  = 5
media = (nota1 + nota2) / 2
print(media)

In [ ]:
nota1 = float(input("Digite a nota 1: "))
nota2  = float(input("Digite a nota 2: "))
media = (nota1 + nota2) / 2
print(media)

*LISTAS*

In [ ]:
frutas = ['maça', 'laranja', 'uva']
numeros = [3, 5, 6, 2, 7]
mista = ["hello", 11 , False, 99.999]


print(frutas)
print(numeros)
print(mista)

In [ ]:
#Acessar elementos

lista = [5, 8, 9, 17, 1, 3]
print(lista[4])

In [ ]:
#Modificar elementos da Lista

lista[2] = 250

print(lista)

In [ ]:
# Adicionar Elementos
lista = [1,2]

#append() adiciona um elemento no final da lista
lista.append(3)
print(lista)

#inserir em uma posição específica
lista.insert(1, 999)
print(lista)

In [ ]:
#Remover elementos
names = ["Andrew","July", "Joseph", "Luke" ]

#pelo valor
names.remove("Joseph")
print(names)
#pelo indice
names.pop(0)
print(names)
#Pelo ultimo valor
names.pop()
print(names)

In [ ]:
#Fatiamento
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Sintaxe: lista[inicio:fim:passo]
print(lista[:5])
print(lista[6:])
print(lista[3:9])
print(lista[::2])
print(lista[::-1])

In [ ]:
#Funções Uteis

lista = [4, 7, 6, 11, 2, 0]

#tamanho da lista
print(len(lista))

#Maior e Menor valor da lista
print(max(lista))
print(min(lista))

#Soma dos elementos
print(sum(lista))

#Ordenaçao
print(sorted(lista))
print(lista)
#alterar a ordenação da lista original
lista.sort()
print(lista)

In [ ]:
#Laços em Listas

compras = ["ovo", "manteiga", "café", "pão", "laranja"]

for item in compras:
  print(item)

for indice, item in enumerate(compras):
  print(f'Produto {indice}: {item}')

In [ ]:
#Filtrar elementos com FOR
for item in compras:
  if 'a' in item:
    print(f'{item} contém a letra a')

STRING


*  String são listas de caracteres
*  As funções utilizadas em listas, podem ser utilizadas para string

In [ ]:
#concatenação

name = "Gustavo"
lastname = "Daniel"
print(name,lastname)
print(name+lastname)
print(f'{name}  {lastname}')

In [ ]:
#acessar caracteres

text = 'Python'
print(text[0])
print('--------------')

for letra in text:
  print(letra)

In [ ]:
#fatiamento de string (slicing)

text = 'Estou Aprendendo Python '
print(text[2:5])
print(text[4:])
print(text[::2])

In [ ]:
#Métodos comuns
print(text.strip()) #remover espaços

#converter em maiusculas e minusculas
print(text.upper())
print(text.lower())